body{
    padding-top: 50px;
}

form.customer-form {
    width: 50%;
}

form.reservation-form select.customers,
form.reservation-form select.rooms {
    width: 200px;
}

form.reservation-form select.customer-selector,
form.reservation-form select.rooms-selector {
    width: 166px;
    margin-top: 0;
    height: 26px;
    margin-right: 1px;
}

form.reservation-form select.rooms-selector {
    padding-top: 3px;
}

form.reservation-form button.add-customer-btn,
form.reservation-form button.add-room-btn {
    height: 26px;
    line-height: 10px;
    margin-top: -1px;
}

form.reservation-form div.customer-group,
form.reservation-form div.room-group {
    width: 211px;
    float: left;
}

form.reservation-form div.customer-group button,
form.reservation-form div.room-group button {
    margin-right: 10px;
}

form.reservation-form div.angucomplete-holder input {
    width: 166px;
}

form.reservation-form div.configuration-group {
    padding-top: 59px;
}

form.reservation-form div.configuration-group label {
    margin-bottom: 0;
}

form.reservation-form div.configuration-group select {
}

form.reservation-form select {
    margin-top: 10px;
}

form.reservation-form div.from-group,
form.reservation-form div.to-group {
    margin-top: 30px;
    width: 160px;
    float: left;
    margin-right: 20px;
}

form.reservation-form div.projected-bill table {
    width: 500px;
    margin-left: 20px;
    margin-bottom: 30px;
}

form.reservation-form div.projected-bill table .right {
    text-align: right;
}

form.room-form div.pricing div.single>div,
form.room-form div.pricing div.double>div,
form.room-form div.pricing div.triple>div {
    float: left;
    margin-left: 20px;
}

button.delete-btn {
    margin-top: 10px;
}

div.search {
    margin-bottom: 10px;
}

div.search input {
    margin-top: 1px;
}

div.select-reservation-dialog div.reservation {
    height: 100px;
}

div.select-reservation-dialog div.reservation div.reservation-id,
div.select-reservation-dialog div.reservation div.customers,
div.select-reservation-dialog div.reservation div.rooms {
    float: left;
    margin-left: 20px;
    width: 200px
}
div.select-reservation-dialog div.reservation div.reservation-id {
    width: auto;
}

div.select-reservation-dialog div.reservation div.add {
    float: right;
}
div.select-reservation-dialog div.reservation div.add button {
    height: 60px;
    width: 60px;
}

div.clear-left {
    clear: left;
}

form.bill-form select {
    margin-bottom: 8px;
}

form.bill-form #customer-search {
    float: left;
}

form.bill-form #customer-indicator {
    margin-left: 5px;
    margin-top: 4px;
}

form.bill-form table#details {
    width: 100%;
}

form.bill-form table#details .currency {
    text-align: right;
}

form.bill-form table#details .result {
    border-top: 1px solid #000;
}

form.bill-form input.submit {
    margin-top: 20px;
}
