<h1>Edit reservation</h1>

<form ng-submit="save()" class="reservation-form">
    <div class="form-group">
        <div class="form-inline">
            <label for="customers">Customers:</label></br>
            <angucomplete-alt
                id="customerSearch"
                placeholder="Search customers..."
                selected-object="selectedCustomer"
                local-data="availableCustomers"
                minlength="1"
                search-fields="firstName,lastName"
                title-field="firstName,lastName"
                class="pull-left"
            ></angucomplete-alt>
            <button type="button"
                    ng-click="addCustomer()"
                    ng-disabled="!selectedCustomer"
                    class="btn btn-primary pull-left add-customer-btn">
                +
            </button>
            <div class="clearfix"></div>
            <select name="customers"
                   ng-model="selectedCustomers"
                   ng-options="customer.id as customer.displayName() for customer in reservation.customers"
                   size="6"
                   class="form-control customers"
                   required
            ></select>
        </div>
    </div>
    <div class="clearfix"></div>
    <div>
        <label for="room">Room:</label>
        <input type="text"
               name="room"
               ng-model="reservation.room"
               placeholder="Room"
               required
               class="form-control"></input>
    </div>
    <div class="form-group">
        <label for="discount">Discount:</label>
        <input type="number"
               name="discount"
               ng-model="reservation.discount"
               placeholder="0"
               class="form-control"></input>
    </div>
    <div class="form-group">
        <label for="roomCost">RoomCost:</label>
        <input type="number"
               name="roomCost"
               ng-model="reservation.roomCost"
               class="form-control"></input>
    </div>
    <input type="submit" class="btn btn-primary"></input>

</form>

<pre class="debug">
{{reservation | json}}
</pre>

